.btn {
  border-width: 4px;
}

.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

.btn-tertiary {
  @include button-variant($btn-tertiary-color, $btn-tertiary-bg, $btn-tertiary-border);
}