.flex-card-deck-wrapper {
}

.flex-card-deck {
  display: flex;
  flex-flow: column wrap;

}

@media only screen and (min-width: $screen-sm-min) {
  .flex-card-deck {
    margin-left: -$grid-gutter-width / 2;
    margin-right: -$grid-gutter-width / 2;
  }
  .flex-card-sm-12 {
    flex-basis: 100%;
    margin-left: $grid-gutter-width / 2;
    margin-right: $grid-gutter-width / 2;
  }
}

@media only screen and (min-width: $screen-lg-min) {
  .flex-card-deck {
    flex-flow: row nowrap;
  }
  .flex-card-lg-8 {
    flex-basis: 66.66666667%;
    margin-left: $grid-gutter-width / 2;
    margin-right: $grid-gutter-width / 2;
  }

  .flex-card-lg-4 {
    flex-basis: 33.33333333%;
    margin-left: $grid-gutter-width / 2;
    margin-right: $grid-gutter-width / 2;
  }
}