@font-face {
  font-family: 'Proxima Nova Alt';
  src: asset-url('proxima-nova/proxima-nova-alt-regular-webfont.eot');
  src: asset-url('proxima-nova/proxima-nova-alt-regular-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('proxima-nova/proxima-nova-alt-regular-webfont.woff') format('woff'),
  asset-url('proxima-nova/proxima-nova-alt-regular-webfont.ttf') format('truetype'),
  asset-url('proxima-nova/proxima-nova-alt-regular-webfont.svg#ProximaNova') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Alt';
  src: asset-url('proxima-nova/proxima-nova-alt-semibold-webfont.eot');
  src: asset-url('proxima-nova/proxima-nova-alt-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('proxima-nova/proxima-nova-alt-semibold-webfont.woff') format('woff'),
  asset-url('proxima-nova/proxima-nova-alt-semibold-webfont.ttf') format('truetype'),
  asset-url('proxima-nova/proxima-nova-alt-semibold-webfont.svg#ProximaNovaSemiBold') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Alt';
  src: asset-url('proxima-nova/proxima-nova-alt-bold-webfont.eot');
  src: asset-url('proxima-nova/proxima-nova-alt-bold-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('proxima-nova/proxima-nova-alt-bold-webfont.woff') format('woff'),
  asset-url('proxima-nova/proxima-nova-alt-bold-webfont.ttf') format('truetype'),
  asset-url('proxima-nova/proxima-nova-alt-bold-webfont.svg#ProximaNovaBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Alt';
  src: asset-url('proxima-nova/proxima-nova-alt-light-webfont.eot');
  src: asset-url('proxima-nova/proxima-nova-alt-light-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('proxima-nova/proxima-nova-alt-light-webfont.woff') format('woff'),
  asset-url('proxima-nova/proxima-nova-alt-light-webfont.ttf') format('truetype'),
  asset-url('proxima-nova/proxima-nova-alt-light-webfont.svg#ProximaNovaLight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Alt';
  src: asset-url('proxima-nova/proxima-nova-alt-thin-webfont.eot');
  src: asset-url('proxima-nova/proxima-nova-alt-thin-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('proxima-nova/proxima-nova-alt-thin-webfont.woff') format('woff'),
  asset-url('proxima-nova/proxima-nova-alt-thin-webfont.ttf') format('truetype'),
  asset-url('proxima-nova/proxima-nova-alt-thin-webfont.svg#ProximaNovaThin') format('svg');
  font-weight: 100;
  font-style: normal;
}