.footer-default {
  background-color: $footer-default-bg;
  color: $footer-default-color;
  padding: $footer-default-padding-y $footer-default-padding-x;

  @media only screen and (min-width: $screen-sm-min) {
    padding: round($footer-default-padding-y * 1.33) $footer-default-padding-x;
  }

  .footer-link {
    color: $footer-default-link-color;
    &:hover {
      color: $footer-default-link-hover-color;
    }
    &:active,
    &:focus {
      color: $footer-default-link-active-color;
    }
  }
}

.footer-brand {
  display: inline-block;
  vertical-align: top;
  @include text-hide();
  @include img-retina(image-path("brand-white.png"), image-path("brand-white@2x.png"), 106px, 55px);
  background-size: contain;
  width: 106px;
  height: 55px;
  color: #fff;
  margin-bottom: 20px;
}

.footer-title {
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
}

.footer-list {
  line-height: 2;
  padding-left: 0;
  list-style: none;
}

.footer-item {
  font-size: 18px;
}