.footer-default {
  background-color: $footer-default-bg;
  color: $footer-default-color;
  padding: $footer-default-padding-y * 0.5 $footer-default-padding-x * 0.5;

  @media only screen and (min-width: $screen-sm-min) {
    padding: $footer-default-padding-y $footer-default-padding-x;
  }

  .footer-link {
    font-size: $font-size-h4;
    color: $footer-default-link-color;
    &:hover {
      color: $footer-default-link-hover-color;
    }
    &:active,
    &:focus {
      color: $footer-default-link-active-color;
    }
  }
  .footer-link--muted {
    font-weight: normal;
    color: #595959;
  }
}

.footer-brand {
  display: inline-block;
  vertical-align: top;
  @include text-hide();
  @include img-retina(image-path("brand-white.png"), image-path("brand-white@2x.png"), 106px, 55px);
  background-size: contain;
  width: 106px;
  height: 55px;
  color: #fff;
}

.footer-title {
  color: $footer-default-color;
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
}

.footer-list {
  line-height: 2;
  padding-left: 0;
  list-style: none;
  @media only screen and (min-width: $screen-sm-min) {
    margin-bottom: 0;
  }
}

.footer-item {
  font-size: 18px;
  line-height: 41px;
  padding: 0 15px;
  display: block;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
  @media only screen and (max-width: $screen-xs-max) {
    width: 100%;
  }
  @media only screen and (min-width: $screen-sm-min) {
    display: inline-block;
    vertical-align: middle;
  }
}

@media only screen and (max-width: $screen-xs-min) {
  /* Center list only for < 480px */
  .social-list {
    text-align: center;
    margin: $grid-gutter-width 0 0;
  }
}

@media only screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  .social-list {
    @include make-xs-column-offset(6);
    padding-left: 5px;
    li {
      &:nth-child(3n) {
        clear: left;
      }
    }
  }
}

.social-link {
  color: rgba(255, 255, 255, 0.5);
  &:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  .fa-inverse {
    color: #121212;
  }
}
@media only screen and (min-width: $screen-sm-min) {
  .footer-alt-list {
    margin-bottom: 0;
  }
}
.footer-alt-list-item {
  padding: 0 15px;
  line-height: 41px;
}

.footer-text-alt {
  margin-top: 0;
  font-weight: normal;
  color: #595959;
}