.visible-breakpoint {
  display: none;
}

@media only screen and (max-width: $grid-float-breakpoint-max) {
  .visible-breakpoint {
    display: block;
  }
  .invisible-breakpoint {
    display: none !important;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .text-center-xs {
    text-align: center;
  }
}

.bg-1d1d1d {
  background-color: #1d1d1d;
  color: #fff;
}