// Fonts
$headings-font-family: "Proxima Nova Alt", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight: 500;
$font-family-base: "Proxima Nova Alt", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-h2: 28px;

// Navbar
$navbar-margin-bottom: 0;
$navbar-border-radius: 0;
$navbar-default-bg: #fff;
$navbar-default-link-color: #000;
$navbar-default-border: transparent;
$navbar-default-brand-color: #0c0c0c;
$navbar-default-brand-hover-color: #0c0c0c;
$navbar-default-toggle-hover-bg: #0c0c0c;
$navbar-default-toggle-icon-bar-bg: #fff;
$navbar-default-toggle-border-color: transparent;

// Footer
$footer-default-padding: 80px 0 60px;
$footer-default-bg: #121212;
$footer-default-color: #fff;
$footer-default-link-color: #fff;
$footer-default-link-hover-color: #fff;
$footer-default-link-active-color: #fff;

// Components
$text-muted: #aeaeae;
$grid-gutter-width: 30px;
$state-success-text: #5adc96;
$padding-small-vertical: 2px;
$padding-small-horizontal: 10px;
$padding-base-vertical: 4px;
$padding-base-horizontal: 30px;
$padding-large-vertical: 8px;
$padding-large-horizontal: 50px;
$wrapper-extra-width: 1370px; /* $container-lg + 200px */

// Jumbotron
$jumbotron-heading-font-size: 64px;
$jumbotron-font-size: 36px;
$jumbotron-bg: #fff;
$jumbotron-padding: 16px;

// Cards
$card-deck-margin: $grid-gutter-width;
$card-spacer-y: $grid-gutter-width;
$card-padding: 3rem;

// Buttons
$btn-border-radius-base: 25px;
$btn-border-radius-small: $btn-border-radius-base;
$btn-border-radius-large: $btn-border-radius-base;

$btn-default-color: #7b7b7b;
$btn-default-bg: #efefef;
$btn-default-border: #efefef;

$btn-primary-color: #fff;
$btn-primary-bg: #5adc96;
$btn-primary-border: #5adc96;

$btn-secondary-color: #fff;
$btn-secondary-bg: #0c0c0c;
$btn-secondary-border: #0c0c0c;

$btn-tertiary-color: #fff;
$btn-tertiary-bg: transparent;
$btn-tertiary-border: #fff;