// Fonts
$headings-font-family: "Proxima Nova Alt", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight: 500;
$font-family-base: "Proxima Nova Alt", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-h2: 28px;

// Navbar
$navbar-margin-bottom: 0;
$navbar-border-radius: 0;
$navbar-default-bg: #fff;
$navbar-default-link-color: #000;
$navbar-default-border: transparent;

// Footer
$footer-default-padding: 80px 0 60px;
$footer-default-bg: #121212;
$footer-default-color: #fff;
$footer-default-link-color: #fff;
$footer-default-link-hover-color: #fff;
$footer-default-link-active-color: #fff;

// Components
$grid-gutter-width: 30px;
$state-success-text: #5adc96;
$padding-large-horizontal: 50px;

// Jumbotron
$jumbotron-heading-font-size: 64px;
$jumbotron-font-size: 36px;
$jumbotron-bg: #fff;

// Cards
$card-deck-margin: $grid-gutter-width;
$card-spacer-y: $grid-gutter-width;

// Buttons
$btn-border-radius-base: 25px;
$btn-border-radius-small: $btn-border-radius-base;
$btn-border-radius-large: $btn-border-radius-base;

$btn-default-color: #7b7b7b;
$btn-default-bg: #efefef;
$btn-default-border: #efefef;