// Fonts
$headings-font-family: "ProximaNova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight: 500;
$font-family-base: "ProximaNova", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Navbar
$navbar-margin-bottom: 0;
$navbar-border-radius: 0;
$navbar-default-bg: #fff;
$navbar-default-link-color: #000;
$navbar-default-border: transparent;

// Footer
$footer-default-padding: 80px 0 60px;
$footer-default-bg: #121212;
$footer-default-color: #fff;
$footer-default-link-color: #fff;
$footer-default-link-hover-color: #fff;
$footer-default-link-active-color: #fff;

// Components
$state-success-text: #5adc96;

// Jumbotron
$jumbotron-heading-font-size: 64px;
$jumbotron-font-size: 36px;
$jumbotron-bg: #fff;