body {
  background: #fff image-url("body-bg.jpg") no-repeat top center/cover;
}

.wrapper-footer {
  background-color: $footer-default-bg;
}

.wrapper {
  background-color: #fff;
}

.wrapper-gray {
  background-color: #f2f3f7;
}

@media only screen and (min-width: $screen-sm-min) {
  .page-shadow {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.08);
  }
}

@media only screen and (min-width: $screen-lg-min) {
  .wrapper,
  .wrapper-gray,
  .wrapper-footer,
  .page-shadow {
    max-width: $wrapper-extra-width;
    margin-right: auto;
    margin-left: auto;
  }
}

.container {
  .jumbotron {
    border-radius: 0;
    text-align: center;
    margin-bottom: 0;
  }
}

.jumbotron-title {
  font-size: 56px;
  font-weight: 700;
}

.jumbotron-subtitle {
  font-size: 22px;
  font-weight: 300;
}

.jumbotron-image {
  @include img-responsive();
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: $screen-xs-max) {
  .jumbotron {
    padding-top: $jumbotron-padding / 2;
    padding-bottom: $jumbotron-padding / 2;
  }
}

@media only screen and (min-width: $screen-sm-min) {
  .jumbotron-title {
    font-size: 64px;
  }
  .jumbotron-subtitle {
    font-size: 36px;
  }
}

.section-info {
  padding: 50px 0 30px;
  background-color: #f2f3f7;
  @media only screen and (min-width: $screen-md-min) {
    padding: 100px 0 70px;
  }
}

.section-info-title {
  font-size: 50px;
  line-height: 1.25;
  font-weight: 700;
  color: #121212;
}

.section-info-text {
  font-size: 28px;
  color: #121212;
}

.section-info-image {
  @include img-responsive();
  margin-right: auto;
  margin-left: auto;
}

.social-link {
  color: rgba(255, 255, 255, 0.5);
  &:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  .fa-inverse {
    color: #121212;
  }
}

.section-polls {
  padding: 50px 0;
  background-color: #fff;
  &.wrapper {
    border-top: 1px solid #e6e6e6;
  }
}

.section-polls-title {
  margin-bottom: 30px;
  font-weight: 400;
}

.card-sm-6 {
  .card-footer {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.card-sm-3 {
  .card-footer {
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
  }
  .card-text {
    display: inline-block;
    padding-bottom: 10px;
  }
  .card-text + .card-text {
    padding-left: 10px;
  }
  .btn-primary {
    order: 3;
  }
}

.card-sm-4 {
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card-text {
      display: block;
      text-align: right;
    }
  }
}