/* Homepage styles */
.home-wrapper.index-wrapper {
  .jumbotron-title,
  .jumbotron-subtitle {
    color: #000;
  }
  @media (min-width: $grid-float-breakpoint) {
    .navbar-default {
      padding-top: 35px;
    }
  }
  .jumbotron {
    padding: 0;
  }
  .jumbotron-image-wrapper {
    background: transparent image-url('jumbotron-image.png') no-repeat bottom/cover;
    height: 180px;
    max-width: 940px;
    @media only screen and (min-width: $screen-sm-min) {
      height: 200px;
      background-size: contain;
      margin-right: auto;
      margin-left: auto;
    }
    @media only screen and (min-width: $screen-md-min) {
      height: 313px;
    }
  }
}
.container {
  .jumbotron {
    border-radius: 0;
    margin-bottom: 0;
    background-color: transparent;
    @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.jumbotron {
  .jumbotron-title {
    font-size: 54px;
    font-weight: 700;
    margin: 0;
    @media only screen and (min-width: $screen-sm-min) {
      font-size: 64px;
    }
  }
  .jumbotron-title--sm {
    font-size: 28px;
    @media only screen and (min-width: $screen-sm-min) {
      font-size: 38px;
    }
  }

  .jumbotron-subtitle {
    font-size: 22px;
    font-weight: 300;
    @media only screen and (min-width: $screen-sm-min) {
      font-size: 36px;
    }
  }

  .jumbotron-subtitle--sm {
    font-size: 18px;
    @media only screen and (min-width: $screen-sm-min) {
      font-size: 28px;
    }
  }
  .jumbotron-subtitle--xs {
    font-size: 16px;
    @media only screen and (min-width: $screen-sm-min) {
      font-size: 22px;
    }
  }

  .jumbotron-image {
    @include img-responsive();
    margin-right: auto;
    margin-left: auto;
  }

  .jumbotron-link--lg {
    color: inherit;
    font-size: 22px;
  }

  .jumbotron--border-top {
    position: relative;
    &:before {
      content: "";
      background-color: #5adc96;
      border-radius: 3px;
      position: absolute;
      top: -15px;
      height: 12px;
      left: 25%;
      right: 25%;
    }
  }
  @media only screen and (min-width: $screen-lg-min) {
    .jumbotron--border-top:before {
      left: 50%;
      right: 15px;
    }
    .jumbotron--border-left {
      position: relative;
      padding-top: 20px;
      padding-bottom: 20px;
      &:before {
        content: "";
        background-color: #5adc96;
        border-radius: 3px;
        position: absolute;
        left: -30px;
        bottom: 0;
        top: 0;
        width: 12px;
      }
    }
  }
}

.section-info {
  padding: 30px 0 30px;
  background-color: #f2f3f7;
  @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    text-align: center;
  }
  @media only screen and (min-width: $screen-md-min) {
    padding: 100px 0 70px;
  }
}

.section-info-title {
  font-size: 30px;
  line-height: 1.25;
  font-weight: 700;
  color: #121212;
}

.section-info-text {
  font-size: 17px;
  color: #121212;
}

@media only screen and (min-width: $screen-sm-min) {
  .section-info-title {
    font-size: 30px;
  }
  .section-info-text {
    font-size: 22px;
  }
}

@media only screen and (min-width: $screen-lg-min) {
  .section-info-title {
    font-size: 50px;
  }
  .section-info-text {
    font-size: 28px;
  }
}

.section-info-image {
  @include img-responsive();
  margin-right: auto;
  margin-left: auto;
}

.section-polls {
  padding: 0 0 50px 0;
  background-color: #fff;
  @media only screen and (min-width: $screen-sm-min) {
    padding: 50px 0;
  }
  &.wrapper {
    border-top: 1px solid #e6e6e6;
  }
}

.section-polls-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 400;
  .fa {
    font-size: 0.9em;
  }
  @media only screen and (max-width: $grid-float-breakpoint-max) {
    font-weight: bold;
    font-size: 24px;
    .fa {
      display: none;
    }
  }
}

/* Start cards on the homepage */
@media only screen and (max-width: $screen-md-max) {
  .card-lg-6,
  .card-lg-4,
  .card-lg-3 {
    .card-footer {
      font-size: 16px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: row wrap;
    }
    .card-text {
      display: inline-block;
      padding-bottom: 10px;
    }
    .card-text + .card-text {
      padding-left: 10px;
      flex: 1 0 auto;
      text-align: right;
    }
    .btn-primary {
      display: block;
      width: 100%;
      order: 3;
    }
    .flex-end {
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      flex: 1 0 auto;
    }
  }
}

@media only screen and (min-width: $screen-lg-min) {

  .card-lg-6 {
    .card-footer {
      font-size: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .card-lg-3 {
    .card-footer {
      font-size: 16px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: row wrap;
    }
    .card-text {
      display: inline-block;
      padding-bottom: 10px;
    }
    .card-text + .card-text {
      padding-left: 10px;
      flex: 1 0 auto;
      text-align: right;
    }
    .btn-primary {
      order: 3;
    }
  }

  .card-lg-4 {
    .card-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .card-text {
        display: block;
        text-align: right;
      }
    }
  }
}

/* End cards on the homepage */
