.pages-wrapper.omos-wrapper {
  .contact {}
  .contact-form {}
  .contact-info {}
  .contact-title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .contact-link {
    display: block;
    color: #333;
    font-size: 24px;
  }
  .contact-link--email {}
  .contact-link--tel {}
  .contact-address {
    color: #333;
    font-size: 24px;
    margin-top: 20px;
  }
}