.alert.alert-default.alert-dismissible role="alert"
  button type="button" class="close" data-dismiss="alert" aria-label="Close"
    span aria-hidden="true" &times;
  p Du er nu logget ind og kan nu stemme på Opine.
